<!--video and canvas tags have local variable so they can be accessed by typescript-->
<div id="app" class="container p-sm-5">
  <div class="d-flex flex-column justify-content-center align-content-center align-items-center">
    <webcam
      [trigger]="invokeObservable"
      (imageCapture)="captureImg($event)"
      [allowCameraSwitch]="false"
    ></webcam>
  </div>
  <div class="d-flex flex-row justify-content-center align-content-center align-items-center">
    <button id="snap" class="btn btn-info mt-2" (click)="getSnapshot()">
      {{ '::Decrypt' | abpLocalization }}
    </button>
  </div>
</div>
