PostgresPort=5432
PostgresHost="20.119.71.68"
PostgresDBName="postgres"
PostgresUser="ADMIN"
PostgresPassword="admin_pass"
RSAPublicKey="./qr_public.pem"
Port="8082"
RedisAddress=20.119.71.68:6379
RedisDB=0