PostgresPort=5432
PostgresHost="localhost"
PostgresDBName="postgres"
PostgresUser="ADMIN"
PostgresPassword="admin_pass"
RSAPublicKey="./qr_public.pem"
Port="8082"
RedisAddress=localhost:6379
RedisDB=0