/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --lpx-logo: url('/assets/images/logo/logo-light.svg');
  --lpx-logo-icon: url('/assets/images/logo/logo-light-thumbnail.svg');
  --lpx-brand: #30d9ba;
}
@media only screen and (min-width: 1201px) {
  :root .lpx-brand-logo {
    background-image: var(--lpx-logo);
    background-repeat: no-repeat;
    background-size: auto 45px;
    background-position: left -1px;
    height: 45px;
  }
  .lpx-nav-menu {
    padding-top: 45px !important;
  }
}


.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  :root .lpx-brand-logo {
    background-size: auto 77px !important;
    height: 77px !important;
  }
}
