PostgresPort="5432"
PostgresHost="localhost"
PostgresDBName="postgres"
PostgresUser="ADMIN"
PostgresPassword="admin_pass"
RSAPublicKey="./qr_public.pem"
RSAPrivateKey="./qr_private.key"
Port="8083"
QRDecoder="http://localhost:8080/qr/GetQrCode"